<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIUserNotificationSettings</key>
    <dict>
        <key>types</key>
        <array>
            <string>badge</string>
            <string>sound</string>
            <string>alert</string>
        </array>
    </dict>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Satoshi-Medium.otf</string>
		<string>Satoshi-Bold.otf</string>
		<string>Satoshi-Regular.otf</string>
		<string>Satoshi-Black.otf</string>
	</array>
</dict>
</plist>
